<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="#{app.title}">web-spring</title>
    <th:block th:replace="~{fragments/head :: common-head}"></th:block>
</head>

<body>

<th:block th:replace="~{fragments/navbar :: navbar-dashboard}"></th:block>

<div class="container mt-4 mb-5">
    <div class="row g-4">

        <div class="col-12 col-md-3">
            <div class="card border-0 rounded-4 shadow-sm">
                <div class="card-header text-uppercase small fw-semibold"
                     th:text="#{navigation.mainMenu}">Main Menu</div>
                <div class="card-body p-2">
                    <div class="list-group list-group-flush">
                        <a class="list-group-item list-group-item-action rounded-3"
                           th:classappend="${requestUri == '/dashboard'} ? ' active'"
                           th:href="@{/dashboard}"
                           th:text="#{navigation.dashboard}">Dashboard</a>

                        <a class="list-group-item list-group-item-action rounded-3"
                           th:classappend="${#strings.startsWith(requestUri, '/dashboard/users')} ? ' active'"
                           th:href="@{/dashboard/users}"
                           th:text="#{navigation.users}">Users</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-9">
            <div layout:fragment="content"></div>
        </div>

    </div>
</div>

<script defer th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var successMsg = /*[[${MSG_SUCCESS}]]*/ '';
    var infoMsg    = /*[[${MSG_INFO}]]*/    '';
    var errorMsg   = /*[[${MSG_ERROR}]]*/   '';
    if (successMsg) toastr.success(successMsg);
    if (infoMsg)    toastr.info(infoMsg);
    if (errorMsg)   toastr.error(errorMsg);
    /*]]>*/
</script>

</body>

</html>