<!DOCTYPE HTML>
<html layout:decorate="~{dashboard-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card border-0 rounded-4 shadow-sm">
        <div class="card-header">ADD USER</div>
        <div class="card-body">
            <form method="post" novalidate th:action="@{/dashboard/users/create}" th:object="${createUser}">
                <div class="mb-3">
                    <label class="form-label fw-semibold">Full Name</label>
                    <input class="form-control rounded-3" placeholder="Full Name"
                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                           th:field="*{name}"
                           type="text"/>
                    <div class="invalid-feedback" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-semibold">Email Address</label>
                    <input class="form-control rounded-3" placeholder="Enter your email"
                           th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"
                           th:field="*{email}"
                           type="email"/>
                    <div class="invalid-feedback" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-semibold">Password</label>
                    <input class="form-control rounded-3" placeholder="Enter your password"
                           th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
                           th:field="*{password}"
                           type="password"/>
                    <div class="invalid-feedback" th:errors="*{password}"
                         th:if="${#fields.hasErrors('password')}"></div>
                </div>
                <button class="btn btn-md btn-primary rounded-4 shadow-sm border-0" type="submit">Save</button>
                <a class="btn btn-md btn-secondary rounded-4 shadow-sm border-0 ms-2" th:href="@{/dashboard/users}">Cancel</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>