<!DOCTYPE HTML>
<html layout:decorate="~{dashboard-layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit User</title>
</head>

<body>
<div layout:fragment="content">
    <div class="card border-0 rounded-4 shadow-sm">
        <div class="card-header fw-semibold" th:text="#{user.edit.headline}">Edit User</div>
        <div class="card-body p-4">

            <div class="alert alert-danger rounded-3" th:if="${MSG_ERROR}" th:text="${MSG_ERROR}"></div>
            <div class="alert alert-success rounded-3" th:if="${MSG_SUCCESS}" th:text="${MSG_SUCCESS}"></div>

            <form method="post" novalidate
                  th:action="@{/dashboard/users/edit/{id}(id=${editUser.id})}"
                  th:object="${editUser}">

                <div class="form-group mb-3">
                    <label class="mb-1 fw-bold" th:text="#{user.name.label}">Full Name</label>
                    <input class="form-control" placeholder="Full Name"
                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" th:field="*{name}"
                           type="text"/>
                    <div class="invalid-feedback" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
                </div>

                <div class="form-group mb-3">
                    <label class="mb-1 fw-bold" th:text="#{user.email.label}">Email Address</label>
                    <input class="form-control" placeholder="Email Address"
                           th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" th:field="*{email}"
                           type="email"/>
                    <div class="invalid-feedback" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></div>
                </div>

                <div class="form-group mb-3">
                    <label class="mb-1 fw-bold" th:text="#{user.password.label}">Password</label>
                    <input class="form-control" placeholder="Leave blank to keep current password"
                           th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" th:field="*{password}"
                           type="password"/>
                    <div class="invalid-feedback" th:errors="*{password}"
                         th:if="${#fields.hasErrors('password')}"></div>
                </div>

                <button class="btn btn-md btn-primary rounded-4 shadow-sm border-0" type="submit">Update</button>
                <a class="btn btn-md btn-secondary rounded-4 shadow-sm border-0 ms-2"
                   th:href="@{/dashboard/users}"
                   th:text="#{user.edit.back}">Cancel</a>

            </form>
        </div>
    </div>
</div>
</body>

</html>