{{ define "content" }}

<div class="card border-0 rounded-4 shadow-sm">
    <div class="card-header">ADD USER</div>
    <div class="card-body">
        <form method="POST" action="/dashboard/users/create">

            <div class="mb-3">
                <label class="form-label fw-semibold">Full Name</label>
                <input type="text" name="name" value="{{ .Values.Name }}"
                    class="form-control rounded-3 {{if .Errors.Name}}is-invalid{{end}}" placeholder="Full Name" />
                {{if .Errors.Email}}
                <div class="invalid-feedback">{{.Errors.Name}}</div>
                {{end}}
            </div>

            <div class="mb-3">
                <label class="form-label fw-semibold">Email Address</label>
                <input type="email" name="email" value="{{ .Values.Email }}"
                    class="form-control rounded-3 {{if .Errors.Email}}is-invalid{{end}}"
                    placeholder="Enter your email" />
                {{if .Errors.Email}}
                <div class="invalid-feedback">{{.Errors.Email}}</div>
                {{end}}
            </div>

            <div class="mb-3">
                <label class="form-label fw-semibold">Password</label>
                <input type="password" name="password" value="{{ .Values.Password }}"
                    class="form-control rounded-3 {{if .Errors.Password}}is-invalid{{end}}"
                    placeholder="Enter your password" />
                {{if .Errors.Password}}
                <div class="invalid-feedback">{{.Errors.Password}}</div>
                {{end}}
            </div>

            <button type="submit" class="btn btn-md btn-primary rounded-4 shadow-sm border-0">Save</button>
            <a href="/dashboard/users" class="btn btn-md btn-secondary rounded-4 shadow-sm border-0 ms-2">Cancel</a>

        </form>
    </div>
</div>

{{ end }}